*{
    padding: 0;
    margin: 0;
    /* scroll-behavior: smooth; */
    transition: all 0.3s;
}

html { background-attachment: fixed; }

body{
    background: url(/public/Images/wall.jpg) #546366 fixed; 
    background-size: cover;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
}

.main{
    min-height: 100vh;
}

.theme img{
    position: absolute;
    z-index: -1;
}

::selection{
    color: pink;
}

.fixBuidButton{
    position: absolute;
   padding: 0.5rem;
    background-color: #41494b;
    top: 25%;
    transform: rotate(90deg);
    left: -1.8rem;
    border-radius: 0.4rem;
    color: white;
    z-index: 1;
    font-size: 0.9rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fadeBackground{
    position: fixed;
    /* z-index: 1; */
    background-color: #3a3d3db8;
    width: 100%;
    height: 100%;
    display: none;
}

@media (max-width: 400px) {
    body{
        background: url(/public/Images/2713203.jpg) #020031 fixed no-repeat;
        background-size: cover;
        background-size:30rem 60rem;
    }
}

@media (max-width: 600px) {    
    .main{
    min-height: 100vh;
    }
}